{% extends 'blog/base.html' %}

{% block content %}

<div class="container">

	<div class="row">

		<div class="col-lg-6"


				{% for post in posts %}


				<h1>{{ post.title }}</h1>

				<h3>Published : {{ post.published_date }}  </h3>

				<img src="{{ post.image.url }}" width="400px" height="auto">

				<p>{{ post.body|truncatewords:20 }}</p>







				{% endfor %}

				<ul class="pagination pagination-lg">

					{% if posts.has_next %}

						<li><a href="?page={{ posts.next_page_number }}">Next</a></li>

					{% endif %}


					{% if posts.has_previous %}

						<li><a href="?page={{ posts.previous_page_number }}">previous</a></li>

					{% endif %}

					{% for i in posts.paginator.page_range %}

						{% if posts.number == i %}
						<li class="active"><span>{{ i }}</span></li>
						{% else %}
						<li><a href="?page={{ i }}">{{ i }}</a></li>
						{% endif %}
					{% endfor %}


				</ul>

		</div>

<!-- sidebar -->























	</div>

</div>


{% endblock %}