{% extends 'blog/base.html' %}

{% block title %}

{{ post.title }} | Django Blog

{% endblock %}

{% block content %}

<div class="container">

	<div class="row">

		<div class="col-lg-6"

			Title: <strong>{{ post.title }}</strong> Published Date : <strong>{{ post.published_date|date:"l d M Y" }}</strong>

			<br />

			Post Category : <strong>{{ post.category }}</strong>

			<br />

			<img src="{{ post.image.url }}" width="250px" height="auto">

			<br />


			Body : {{ post.body|linebreaksbr|safe }}

		</div>

<!-- sidebar -->









{{ who }}


{{ name }}

{{ navbar }}

	</div>

</div>

{% endblock %}


