{% extends 'blog/base.html' %}

{% block content %}


<div class="container">

	<div class="row">

		<div class="col-lg-8">

			{% for post in posts %}


			<h1> <a href="{% url 'detail' post.id %}">{{ post.title }}</a> </h1>



			<img src="{{ post.image.url }}" width="740px" height="300px">



			<p>{{ post.body|safe|truncatewords:70 }}</p>

			
			<h5>
			<span class="label label-default">{{ post.published_date|date:"M d, Y" }}</span>

			<span class="label label-default"><a href="{% url 'category' post.category.id %}">{{ post.category }}</a></span>

			<span class="label label-default">10 comments</span>

			 <a class="pull-right" href="{% url 'detail' post.id %}">Continue Reading...</a>
			
			</h5>
	
			<hr>


			{% endfor %}



		

			<ul class="pagination pagination-lg">




				{% if posts.has_previous %}

					<li><a href="?page={{ posts.previous_page_number }}">Previous</a></li>

				{% endif %}
				  


				{% for page in page_range %}

					{% if posts.number == page %}

						<li class="active"><span>{{ page }}</span></li>

					{% else %}

						<li><a href="?page={{ page }}">{{ page }}</a></li>

					{% endif %}


				{% endfor %}



				{% if posts.has_next %}

					<li><a href="?page={{ posts.next_page_number }}">Next</a></li>

				{% endif %}


			</ul>


		</div>



		<div class="col-lg-4 vertical">




<!-- Latest Post-->


					<ul class="pager"></ul>


					

						<h4 class="popular">Popular Posts</h4>
						

						{% for latest in latest_list %}

							

						<div class="sidebar">
					 			
							<img class="pop-img" src="{{ latest.image.url }}" class="pull-left" alt="" width="70px" height="70px" />
						
						<div class="clear">
							<h5><a href="{% url 'detail' latest.id %}">{{ latest.title }}</a></h5>
									
							<p>{{ latest.body|truncatewords:8 }}</p>
								
						</div>				
						</div>		
							
								
							




						{% endfor %}

						


<!-- Categories -->

					<h4 class="popular">Categories</h4>

					{% for category in categories %}

					<ul class="list-group">

					<li class="list-group-item"><a href="{% url 'category' category.id %}">{{ category.title }}</a><span> ({{ category.post_set.all.count }})</span></li>

					</ul>

					{% endfor %}









		</div>

	</div>


</div>


{% endblock %}